.topnav{
    background-color: #3A4C64;
    overflow: hidden;
    width: 333px;
    margin: auto;
}

.topnav a {
    float: left;
    color: #dddddd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #CCD1D9;
    color: black;
}


.topnav a.active{
    background-color: #1C7388;
    color: white;
}

body {
    background-color: blanchedalmond;
}
h1 {
    color:darkslategrey;
    text-align: center;

}

h2 {
    color:darkslategrey;
    text-align: center;

}

p {
    color:darkslategrey;
    text-align: center;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.calculatorContainer {
    width: 50%;
    height: 60vh;
    background: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.calculator {
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

form .calculatorDisplay {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;

}

form .calculatorDisplay input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal {
    width: 145px;
}

form input.operator {
    color: #33ffd8;
}